# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
env/

# Jupyter checkpoints
.ipynb_checkpoints/

# MLflow artifacts
mlruns/

# Data outputs
data/processed/
data/outputs/

# Model weights
data/models/

# VSCode
.vscode/

# OS files
.DS_Store
